<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand title">Shady Farms Pet Clinic</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/pets">Pets</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="container">
		<div>
			<table th:if="pets" id="pets" title="Click a row to see its details."
				style="border-bottom: medium; table-layout: auto; width: 100%; height: auto;">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Species</th>
						<th>Breed</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pet : ${pets}" class="clickable-row"
						th:data-href="@{/pets/{id}(id=${pet.id})}">
						<td th:text="${pet.id}"></td>
						<td th:text="${pet.name}"></td>
						<td th:text="${pet.species}"></td>
						<td th:text="${pet.breed}"></td>
					</tr>
				</tbody>
			</table>
			<p class="right">
				<a href="/pets/add" class="btn btn-primary" role="button">Add</a>
			<div>
				<img src="/images/nap.jpg" class="center bordered" alt="" />
			</div>
		</div>
	</section>
</body>
</html>