<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top"
		style="background-color: #008080 !important">
		<a class="navbar-brand title" href="#">Shady Farms Pet Clinic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav">
				<li class="nav-link"><a href="/">Home</a></li>
				<li class="nav-link"><a href="/owners">Owners</a></li>
				<li class="nav-link active"><a href="/pets">Pets</a></li>
				<li class="nav-link"><a href="/vets">Vets</a></li>
				<li class="nav-link"><a href="/bookings">Bookings</a></li>
			</ul>
		</div>
	</nav>
	<section class="container-sm">
		<div class="jumbotron">
			<h2>Add a Pet</h2>
			<form action="#" th:action="@{/pets}" method="post">
				<div class="row">
					<div class="col-sm-8">
						<div class="row pb-2">
							<input id="name" class="form-control" type="text" name="name"
								required="required" autofocus="autofocus" placeholder="Name*" />
						</div>
						<div class="row pb-2">
							<span th:if="${#lists.isEmpty(species)}">No species found.</span>
							<select th:unless="${#lists.isEmpty(species)}" name="species"
								class="form-control" required="required">
								<option th:each="sp : ${species}" th:value="${sp.id}"
									th:text="${sp.name}"></option>
							</select>
						</div>
						<div class="row pb-2">
							<input class="form-control" type="number" name="weight"
								placeholder="Weight in kgs" />
						</div>
						<div class="row pb-2 form-check">
							<input type="radio" name="gender" value="MALE"
								class="form-check-input" required="required" checked="checked"><label
								for="gender">Male</label>&nbsp;&nbsp;&nbsp;<input type="radio"
								name="gender" value="FEMALE" class="form-check-input"
								required="required"><label for="gender">Female</label>
						</div>
						<div class="row pb-2">
							<label for="ownerId">Available Owners:</label> <select
								name="ownerId" size="5" class="form-control">
								<option th:each="owner : ${owners}"
									th:title="${owner.email} ?: ${owner.phone}"
									th:value="${owner.id}"
									th:text="${owner.firstName}+' '+${owner.lastName}"></option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<img src="/images/dogTiltingHead.png" alt="Dog tilting head" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<button class="btn-warning float-right" type="button"
							onclick="window.location.href='/species/add'">Add a
							Species</button>
						<input th:unless="${#sets.isEmpty(species)}" type="submit"
							class="btn-primary float-right" value="Add Pet" />
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>