<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top"
		style="background-color: #008080 !important">
		<a class="navbar-brand title" href="#">Shady Farms Pet Clinic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav">
				<li class="nav-link"><a href="/">Home</a></li>
				<li class="nav-link active"><a href="/persons">Owners</a></li>
				<li class="nav-link"><a href="/pets">Pets</a></li>
				<li class="nav-link"><a href="/doctors">Doctors</a></li>
				<li class="nav-link"><a href="/bookings">Bookings</a></li>
			</ul>
		</div>
	</nav>
	<section class="container-sm">
		<div class="jumbotron">
			<h2>Add a Species</h2>
			<form action="/species/add" method="post">
				<div class="row">
					<div class="col-sm-8">
						<input name="name" class="form-control" required="required"
							placeholder="Species Name" autofocus="autofocus" />
					</div>
					<div class="col-sm-4">
						<img src="/images/pig.png" alt="pig" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" class="btn-primary float-right"
							value="Add Species" />
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>