<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top"
		style="background-color: #008080 !important">
		<a class="navbar-brand title" href="#">Shady Farms Pet Clinic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav">
				<li class="nav-link"><a href="/">Home</a></li>
				<li class="nav-link"><a href="/owners">Owners</a></li>
				<li class="nav-link"><a href="/pets">Pets</a></li>
				<li class="nav-link"><a href="/vets">Vets</a></li>
				<li class="nav-link active"><a href="/bookings">Bookings</a></li>
			</ul>
		</div>
	</nav>
	<section class="container-sm">
		<div class="jumbotron">
			<h2>Booking</h2>
			<div class="row">
				<div class="col-sm-8">
					<div class="row pb-2">
						<span class="label">Pet:&nbsp;</span>
						<a th:href="${booking.pet.id}">
						    <span th:text="${booking.pet.name}">Pet</span>
						</a>
					</div>
					<div class="row pb-2">
						<span class="label">Vet:&nbsp;</span>
						<a th:href="${booking.vet.id}">
						    <span th:text="${booking.vet.firstName+' '+booking.vet.lastName}">Vet</span>
						</a>
					</div>
					<div class="row pb-2">
						<span class="label">Procedure:&nbsp;</span>
						<a th:href="${booking.procedure.id}">
						    <span th:text="${booking.procedure.name}">Procedure</span>
						</a>
					</div>
					<div class="row pb-2">
					    <span class="label">Date:&nbsp;</span>
					    <span th:text="${booking.date}">Date</span>
					</div>
				</div>
				<div class="col-sm-4">
					<img src="/images/dogChasingBird.png"
						alt="Dog on leash chasing bird" />
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<a th:href="'/bookings/'+${booking.id}+'/edit'">
						<button class="btn-primary float-right">Edit Booking</button>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>