<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="background-color: #008080 !important">
		<div class="container-fluid">
			<a class="navbar-brand title" href="#">Shady Farms Pet Clinic</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
				aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-link"><a href="/">Home</a></li>
					<li class="nav-link"><a href="/pets">Pets</a></li>
					<li class="nav-link"><a href="/owners">Owners</a></li>
					<li class="nav-link"><a href="/vets">Vets</a></li>
					<li class="nav-link"><a href="/bookings">Bookings</a></li>
					<li class="nav-link active"><a href="/species">Species</a></li>
					<li class="nav-link"><a href="/procedures">Procedures</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="container-sm">
		<div class="jumbotron">
			<h2>Edit Species</h2>
			<form action="/species/update" method="post">
				<div class="row">
					<div class="col-sm-8">
						<input type="hidden" name="id" th:value="${species.id}" />
						<label for="name" class="label form-label">Name:</label>
						<input name="name" type="text" class="form-control" required="required"
							th:value="${species.name}" autofocus="autofocus" />
					</div>
					<div class="col-sm-4">
						<img src="/images/pig.png" alt="pig" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" class="btn btn-primary float-right" value="Update Species" />
					</div>
				</div>
			</form>
		</div>
	</section>
</body>

</html>