<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top"
		style="background-color: #008080 !important">
		<a class="navbar-brand title" href="#">Shady Farms Pet Clinic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav">
				<li class="nav-link"><a href="/">Home</a></li>
				<li class="nav-link"><a href="/pets">Pets</a></li>
				<li class="nav-link"><a href="/owners">Owners</a></li>
				<li class="nav-link active"><a href="/vets">Vets</a></li>
				<li class="nav-link"><a href="/bookings">Bookings</a></li>
				<li class="nav-link"><a href="/species">Species</a></li>
                <li class="nav-link"><a href="/procedures">Procedures</a></li>
			</ul>
		</div>
	</nav>
	<section class="container-sm">
		<div class="jumbotron">
			<h2>Edit Vet</h2>
			<form action="/vets/edit" method="post">
				<div class="row">
					<div class="col-sm-8">
						<div class="row-fluid pb-2">
							<input type="hidden" name="id" th:value="${vet.id}" /> <label
								for="firstName" class="label form-label">First Name:</label> <input
								type="text" name="firstName" maxlength="40" required="required"
								placeholder="First Name*" class="form-control"
								th:value="${vet.firstName}" />
						</div>
						<div class="row-fluid pb-2">
							<label for="lastName" class="label form-label">Last Name:</label>
							<input type="text" name="lastName" maxlength="40"
								required="required" placeholder="Last Name*"
								class="form-control" th:value="${vet.lastName}" />
						</div>
						<div class="row-fluid pb-2">
							<label for="email" class="label form-label">Email:</label> <input
								type="email" name="email" placeholder="Email"
								required="required" class="form-control" th:value="${vet.email}" />
						</div>
						<div class="row-fluid pb-2">
							<label for="phone" class="label form-label">Phone:</label> <input
								type="text" name="phone" class="form-control"
								required="required" maxlength="12"
								placeholder="Phone Number ###-###-####"
								pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" th:value="${vet.phone}" />
						</div>
					</div>
					<div class="col-sm-4">
						<img src="/images/vet2.png" alt="cat" />
					</div>
				</div>
				<div class="row pb-2">
					<div class="col-sm-12">
						<input type="submit" class="btn-primary float-right"
							value="Update Vet" />
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>