<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top"
		style="background-color: #008080 !important">
		<a class="navbar-brand title" href="#">Shady Farms Pet Clinic</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="nav">
				<li class="nav-link"><a href="/">Home</a></li>
				<li class="nav-link"><a href="/owners">Owners</a></li>
				<li class="nav-link active"><a href="/pets">Pets</a></li>
				<li class="nav-link"><a href="/vets">Vets</a></li>
				<li class="nav-link"><a href="/bookings">Bookings</a></li>
			</ul>
		</div>
	</nav>
	<section class="container-sm">
		<div class="jumbotron">
			<h2>Pets</h2>
			<div th:if="${#maps.isEmpty(petSpeciesMap)}" class="row">
				<span th:if="${name}" th:text="'No pets found matching '${name}'."></span>
			</div>
			<table class="table table-striped table-hover"
				title="Click a row to see its details."
				th:unless="${#maps.isEmpty(petSpeciesMap)}">
				<thead class="thead-dark">
					<tr>
						<th>Name</th>
						<th>Species</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="petSpeciesMapItem : ${petSpeciesMap}" class="clickable-row"
						th:data-href="@{/pets/{id}(id=${petSpeciesMapItem.key.id})}">
						<td th:text="${petSpeciesMapItem.key.name}">Name</td>
						<td th:text="${petSpeciesMapItem.value.name}">Species</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-sm-12">
					<button class="btn-primary float-right"
						onclick="window.location='/pets/add'">Add a Pet</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>