@charset "UTF-8";

@font-face {
	font-family: "abkk";
	src: url(../fonts/AustieBostKittenKlub.ttf) format("truetype");
}

@font-face {
	font-family: "decker";
	src: url(../fonts/Decker.ttf) format("truetype");
}

html, body {
	cursor: url("/images/paw.png"), default;
	font-family: "decker";
}

body {
	background-color: #FFFAF0 !important;
}

nav {
	background-color: #008080 !important;
}

.title {
	font-family: "abkk";
	font-weight: bolder;
	letter-spacing: 5px;
	font-size: x-large !important;
	color: white !important;
}

.active {
	background-color: #005757;
}

nav a {
	color: white !important;
	font-family: "decker";
	text-decoration: none;
}

nav a:hover {
	color: white !important;
	transition: 1s ease;
	text-decoration: none;
}

nav a:visited {
	color: #9d9d9d;
	text-decoration: none;
}

nav a:focus {
	color: white;
	outline: none;
	text-decoration: none;
}

section {
	margin-top: 100px;
}

footer {
	margin: 0 20px 0 20px;
	padding: 10px;
	border-top: 4px groove #999;
	text-align: right;
}

h2 {
	text-align: center;
	font-family: "abkk";
}

.tolower {
	text-transform: lowercase;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inline {
	display: inline;
}

div.list {
	margin-bottom: 10px;
}

.label{
	font-style: italic;
	color: #008080;
}

ul.no-bullet {
	list-style: none;
}

select {
	padding: 10px;
}

